<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-offset-1">
    <section class="mainWindow">
        <div>
            <legend class="legend-word">Guess the assd!</legend>
            <div class="form-group">
                <div class="letter" ng-repeat="word in words">
                    {{word.name}}
                </div>
                <input type="text" class="form-control"/>
            </div>
            <button type="button" class="btn btn-large btn-block btn-default">Next</button>
            <button type="button" class="btn btn-large btn-block btn-default" ng-click="start()">Start</button>
        </div>     
    </section>
</div>