<div class="main-window game col-xs-10 col-sm-10 col-md-0 col-lg-6 col-lg-offset-3" ng-show="username">
    <div>
        <legend ng-show="!currentState.gameRunning" class="legend-word">Rules!</legend>
        <legend ng-show="currentState.gameRunning" class="legend-word">Letters:</legend>
        <div class="form-group">
            <div class="letter" ng-repeat="s in currentState.shuffledWord.split('') track by $index">
                {{s}}
            </div>
            <answer></answer>
        </div>
        <div ng-show="!currentState.gameRunning">
            <p>1. You have 40 seconds to guess as many words as you can.</p>
            <p>2. You must use all displayed letters</p>
            <p>3. Every deleted letter from answer field gives you -1 point for word</p>
            <p>4. Longer words give you more points.</p>
            <p>5. You can move to next word only if u type correct answer.</p>
            <br />
            <p>To start game please click "Start" button.<br />If you want move to next word, you can use "Next" button or press "Enter"</p>
            <br />
            <p>Good luck!</p>
        </div>
        <button type="button" class="btn btn-large btn-block btn-warning" ng-show="currentState.gameRunning" ng-click="next()">Next</button>
        <button type="button" class="btn btn-large btn-block btn-success" ng-click="start()" ng-show="!currentState.gameRunning">Start</button>
    </div>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-3">
    <timer class="timer" ng-show="currentState.gameRunning" id="timer-game" interval="1000" countdown="41" autostart="false" finish-callback="finish()">{{countdown}}</timer>
</div>
<div class="main-window results resultPage col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2" ng-show="!username">
  <h1>Error!</h1>
  <div class="col-xs-12">
    <p>Ooops, something went wrong.</p>
    <a class="play btn btn-lg btn-danger" href="#/" role="button">Try again!</a>
  </div>
</div>