<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-offset-1">
    <section class="mainWindow">
        <div>
            <legend class="legend-word">Guess the assd!</legend>
            <div class="form-group">
                <div ng-show="currentState.gameRunning">
                    {{currentState.shuffledWord}}
                </div>
                <input type="text" class="form-control" ng-model="currentState.answer"/>
            </div>
            <button type="button" class="btn btn-large btn-block btn-default" ng-show="currentState.gameRunning" ng-click="next()">Next</button>
            <button type="button" class="btn btn-large btn-block btn-default" ng-click="start()" ng-show="!currentState.gameRunning">Start</button>
        </div>     
    </section>
</div>