<div class="main-window titlePage col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
  <h1>Welcome to Guess the word!</h1>
  <div class="col-xs-12">
    <p></p>
    <input type="text" class="username form-control" ng-model="name" placeholder="Type your name" enter-click="startGame(name)" required> 
    <a class="play btn btn-lg btn-success" ng-click="startGame(name)" role="button">Play the game!</a>
  </div>
</div>
<div class="ranking col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
  <h1>Top 10 players</h1>
    <table class="table table-striped" cellpadding="15" cellspacing="15">
      <tbody>
        <tr>
          <th class="counter"></th>
          <th>Name</th>
          <th class="points-th">Points</th>
        </tr>
        <tr ng-repeat="result in allResults | orderObjectBy:'scores' | limitTo: 10">
          <td>{{$index + 1}}.</td>
          <td class="name">{{result.name}}</td>
          <td class="points">{{result.scores}}</td>
        </tr>
      </tbody>
    </table>
</div>
